
/* BLOG STYLE */

.Blog{
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
    width: 100%;
    border-radius: 0.4rem;
}
.Blog__main{
    display: flex; flex-direction: column; align-items: flex-start ; justify-content: flex-start;
    width: 100%;
    background-color: var(--transparent);
    padding: 1rem 0rem 2rem 0rem;
}
.Blog__mainTitle{
    font-size: 3rem;
    background-color: var(--transparent);
    padding: 0.2rem 1.5rem;
    border-radius: 0.2rem;
    width: 100%;
    color: var(--dynamic-color-1);
}
.Blog__mainSection{
    display: flex; flex-direction: row; align-items: center ; justify-content: space-between;
    width: 100%;
    height: 50vh;
    transition: all ease 800ms;
    padding: 2rem 1.5rem 1rem 1.5rem;
}
.Blog__leftSvg{
    font-size: 3rem;
    background-color: var(--transparent);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all ease 800ms;
    color: var(--lt-color-3);
    &&:hover, &&:focus{
        background-color: var(--black);
        transform:scale(1.22) translate(-0.5rem) ;
    }
}
.Blog__rightSvg{
    font-size: 3rem;
    background-color: var(--transparent);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all ease 800ms;
    color: var(--lt-color-3);
    &&:hover, &&:focus{
        background-color: var(--black);
        transform:scale(1.22) translate(0.5rem) ;
    }
}
.Blog__mainImg{
    max-height: 100%;
    max-width: 100%;
    cursor: pointer;
    object-fit: contain;
    border-radius: 0.4rem;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    transition: all ease 800ms;
    &&:hover, &&:focus{
        transform: scale(1.04);
    }
}
.Blog__imgLink{
    max-height: 100%;
    max-width: 80%;
    display: flex;
    padding: 2rem 0rem;
}

.Blog__secondary{
    width: 100%;
    padding: 2rem 0rem ;
    background-color: var(--dt-color-6);
    display: flex; flex-direction: row; align-items: center; justify-content: center ;
}
.Blog__secondarySection{
    display: flex; flex-direction: row; align-items: center; justify-content: center ;
    width: 80%;
    padding: 0.4rem 2rem;
    /* border: 1px solid var(--black); */
    border-radius: 2rem;
    background-color: var(--white);
    transition: all ease 800ms;
}
.Blog__secondarySvg{
    font-size: 2.4rem;
    border: none;
}
.Blog__secondaryInput{
    flex: 1;
    font-size: 2rem;
    padding: 0rem 1rem;
    border: none;
    background-color: var(--transparent);
    &&:hover, &&:focus{
        outline: none;
    }
}

.Blog__secondarySection:has(.Blog__secondaryInput:hover), .Blog__secondarySection:has(.Blog__secondaryInput:focus){
    background-color: var(--lt-color-5);
}

/* TERTIARY SECTION*/

.Blog__tertiary{
    display: flex; flex-direction: column; align-items: flex-start ; justify-content: center;
    width: 100%;
    padding: 0rem 0rem 2rem 0rem ;
    background-color: var(--transparent);
    height: auto;
    /* max-height: 50rem; */
    gap: 3rem;
}
.Blog__tertiaryTitle{
    font-size: 1.8rem;
    background-color: var(--transparent);
    width: 100%;
    padding: 0.5rem 1.5rem;
    border-radius: 0.4rem;
    color: var(--dynamic-color-1);
}
.Blog__tertiarySections{
    display: flex; flex-direction: row; align-items: center ; justify-content: center;
    width: 100%;
    /* height: auto; */
    gap: 4rem;
    padding: 0rem 1.5rem 0rem 1.5rem ;
}
.Blog__tertiaryLeftSection{
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
    position: relative;
    width: 25%;
    cursor: pointer;
    transition:all ease 2000ms;
    border-radius: 0.4rem;
    height: auto;
    &&:hover .Blog__leftSectionText ,&&:focus .Blog__leftSectionText{
        transform: scale(1);
        opacity: 1;
    } 
}
.Blog__leftSectionImg{
    /* position: relative; */
    width: 100%;
    object-fit: contain;
    /* height: 40rem; */
    /* width: auto; */
    height: 20rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.Blog__leftSectionTitle, .Blog__middleSectionTitle, .Blog__rightSectionTitle{
    font-size: 2rem;
    font-weight: 500;
    color: var(--dynamic-color-1);
    text-align: center;
    width: 100%;
    padding: 0.5rem ;
    /* background-color: var(--white); */
    text-wrap: wrap;
    border-bottom: 0.3rem dashed var(--lt-color-5);
    border-radius: 0.2rem;
}
.Blog__leftSectionText,.Blog__middleSectionText,.Blog__rightSectionText{
    display: flex; flex-direction: column; justify-content: center; align-items: center;
    position: absolute;
    top:0;
    left: 0;
    font-size: 1.4rem;
    color: var(--white);
    font-weight: 600;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    transform: scale(0);
    opacity: 0;
    transition: all ease 2000ms;
    background-color: var(--color-8);
}

.Blog__tertiaryMiddleSection{
    position: relative;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
    width: 25%;
    transition:all ease 2000ms;
    cursor: pointer;
    &&:hover .Blog__middleSectionText, &&:focus .Blog__middleSectionText{
        transform: scale(1);
        opacity: 1;
    }
}
.Blog__middleSectionImg{
    width: 100%;
    /* width: auto; */
    height: 20rem;
    object-fit: contain;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.Blog__tertiaryRightSection{
    position: relative;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-start;
    width: 25%;
    transition:all ease 2000ms;
    cursor: pointer;
    &&:hover .Blog__rightSectionText, &&:focus .Blog__rightSectionText{
        transform: scale(1);
        opacity: 1;
    }
}
.Blog__rightSectionImg{
    width: 100%;
    /* width: auto; */
    object-fit: contain;
    height: 20rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}


/* Bottom Section */
.Blog__bottomSection{
    display: flex; flex-direction: row ; align-items:center; justify-content:center;
    /* padding: 2rem 0rem; */
    background-color: var(--lt-color-5);
    width: 100%;
    border-radius: 0.4rem;
}
.Blog__bottomSectionLink{
    display: flex; flex-direction: row ; align-items:center; justify-content:center;
    width: 100%;
    background-color: var(--white);
    padding: 1rem;
    font-size: 1.6rem;
    gap: 1rem;
    color: var(--black);
    font-weight: 600;
    border-radius:0.4rem;
    &&:hover, &&:focus{
        text-decoration: underline !important;
    }
}


@media only screen and (max-width:600px){
    .Blog__mainSection{
        height: 30vh;
        padding: 0;
    }
    .Blog__secondary{padding: 2rem 0.2rem;}
    .Blog__secondaryInput{
        /* padding: 0rem ; */
        flex: auto;
        width: 80%;
        padding: 0rem 1rem;
    }
    .Blog__secondarySection{
        width: 90%;
    }

    .Blog__tertiary{
        height: auto;
    }
    .Blog__tertiarySections{
        flex-direction: column;
        gap: 2rem;
    }
    .Blog__mainTitle{
        font-size:2rem;
    }
    .Blog__leftSectionTitle, .Blog__middleSectionTitle, .Blog__rightSectionTitle, .Blog__bottomSectionLink{
        font-size: 1.8rem;
    }
    .Blog__tertiaryLeftSection,.Blog__tertiaryMiddleSection, .Blog__tertiaryRightSection{
        width: 100%;
    }

    .Blog__leftSvg, .Blog__rightSvg{
        display: none;
    }
    .Blog__imgLink{
        max-width: 100%;
    }
    .Blog__leftSectionImg, .Blog__middleSectionImg, .Blog__rightSectionImg{
        height: 12rem;
        object-fit: contain;
    }
}
@media only screen and (max-width: 768px ) and (min-width: 600px){
    .Blog__tertiary{
        /* height: auto;     */
    }
    .Blog__mainSection{
        /* height: 30vh; */
        padding: 0;
    }
    .Blog__tertiarySections{
        flex-direction: column;
        gap: 2rem;
    }
    .Blog__leftSectionTitle, .Blog__middleSectionTitle, .Blog__rightSectionTitle, .Blog__bottomSectionLink{
        font-size: 1.8rem;
    }
    .Blog__tertiaryLeftSection,.Blog__tertiaryMiddleSection, .Blog__tertiaryRightSection{
        width: 100%;
    }
    .Blog__leftSvg, .Blog__rightSvg{
        display: none;
    }
    .Blog__imgLink{
        max-width: 100%;
    }
    .Blog__leftSectionImg, .Blog__middleSectionImg, .Blog__rightSectionImg{
        /* height: 12rem; */
        object-fit: contain;
    }
}
@media only screen and (max-width: 1024px ) and (min-width:768px){
    .Blog__tertiary{
        height: auto;
    }
    .Blog__leftSectionTitle, .Blog__middleSectionTitle, .Blog__rightSectionTitle, .Blog__bottomSectionLink{
        font-size: 1.8rem;
    }
    .Blog__leftSectionImg, .Blog__middleSectionImg, .Blog__rightSectionImg{
        height: 12rem;
        object-fit: contain;
    }
}