*{
    box-sizing: border-box;
}

.Gallery{
    column-count: 3;
    gap: 0;
    position: relative;
    border-radius: 0.4rem;
    overflow: hidden;

    opacity: 0;
    visibility: hidden;
    transform: scale(0);
}

.Gallery__itemContainer{
    position: relative;
    /* border: 0.2rem solid orange; */
    padding: 0;
    margin: 0;
    &&:hover .Gallery__itemTitle{
        opacity: 1;
        transform: scale(1);
    }
}
.Gallery__item {
    width: 100%;
    cursor: pointer;
    position: relative; 
}
.Gallery__itemTitle{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left: 0;
    background-color: var(--color-7);
    font-size: 1.6rem;
    padding: 1rem 1rem;
    display: flex; flex-direction: column; align-items: center; justify-content: flex-end;
    transition: all ease-in 600ms;
    transform: scale(0);
    opacity: 0;
}
.Gallery__itemTitle > span{
    color: var(--white);
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 0.4rem;
    background-color: var(--color-9);
}

.Gallery__popup{
    z-index: 3;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    height: 100vh;
    width: 100%;
    padding: 0rem 8rem 0rem 8rem;
    background-color: var(--color-7);
    flex-direction: column; justify-content: center; align-items: center;
    transition: all ease 800ms;

    transform: scale(0);
    opacity: 0;
    display: flex;
}
.Gallery__popupContent{
    background-color: var(--color-8);
    width: 100%;
    height: 100vh;
    max-height: 60rem;
    display: flex;flex-direction: column; justify-content: flex-start; align-items: flex-start;
    border-radius: 0.4rem;
    transition: all ease 800ms;
    transform: scale(1);
    opacity: 1;
}
.Gallery__popupFirstSection{
    width: 100%;
    display: flex; flex-direction: row; justify-content: right; align-items:center;
}
.Gallery__closeSvg{
    color: var(--white);
    font-size: 4rem ;
    margin: 1rem;
    cursor: pointer;
    transition: all ease 800ms;
    &&:hover{
        color: var(--dynamic-color-3);
        transform: scale(1.04);
    }
} 
.Gallery__popupSecondSection{
    height: 80%;
    width: 100%;
    display: flex; flex-direction:row; justify-content: space-between; align-items: center;
}
.Gallery__leftSvg, .Gallery__rightSvg{
    color: var(--white);
    font-size: 4rem ;
    cursor: pointer;
    margin: 1rem;
    transition: all ease 800ms;
    &&:hover{
        color: var(--dynamic-color-3);
        transform: scale(1.04);
    }
}
/* img */
.Gallery__popupItem{
    /* width: auto;
    max-width: 90%;
    height: auto;
    max-height: 90%; */
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;

    transition: all ease 800ms;
    opacity: 0;
    transform: scale(0);

}


.show-popup{
    opacity: 1 ;
    transform: scale(1);
}
.hide-popup{
    opacity: 0 !important;
    transform: scale(0) !important;
}
.popup-fadein{
    opacity: 1;
    transform: scale(1);
}
.popup-fadeout{
    opacity: 0;
    transform: scale(0);
}


@media only screen and (max-width: 600px){
    .Gallery{
        column-count: 2;
    }
    .Gallery__popup{
        padding: 5.5rem 0rem;
    }
    .Gallery__popupItem{
        max-width: 70%;
    }
    .Gallery__itemTitle{
        font-size: 1rem;
    }
}