.active{
    background-color: var(--color-1) !important;
    &::after {
        height: 0px !important;
    }
}
.active > li {
    color: var(--white);
}

.Navbar__header{
    display: flex; flex-direction: row; align-items: center; justify-content: space-between;
    width: 100%;
    background-color: var(--transparent);
    padding: 0.5rem 1.6rem;
    border-radius:1.8rem;
    border: 0.2rem solid var(--color-1);
    box-shadow: 4px 4px 8px var(--lt-color-5);
}

.Navbar__container1{
    display: flex; flex-direction: row; align-items: baseline; justify-content: center;
    /* padding: 0rem 0.4rem; */
}
.Navbar__logo{
    font-size: 1.4rem;
    padding: 0.2rem 0.2rem;
    display: flex; flex-direction: row; align-items:center ; justify-content: center;
    border: 0.2rem solid var(--lt-color-2);
    transition: all ease 800ms;
}
.Navbar__logo:hover, .Navbar__logo:focus{
    transform: rotate(90deg);
}
.Navbar__logoText{
    color:var(--lt-color-6);
    font-size: 1.8rem;
    padding: 0rem 0.2rem;
}

.Navbar__ul{
    display: flex; flex: row; 
    text-decoration: none;
    list-style-type: none;

    position:relative;

    transition: all ease 600ms;
    z-index: 3;
}
.Navbar__li{
    font-size: 1.5rem;
    padding: 0.2rem 2rem;
    margin: 0rem 0rem;

    transition: all ease 800ms;

    background-color: var(--transparent);
    color: var(--lt-color-7);


    cursor: pointer;

    display: flex; flex-direction: row; justify-content: flex-start; align-items: center;
}.Navbar__li:hover{
    background-color: var(--dt-color-5);
    color: var(--dt-color-6);
}
.Navbar__options{
    font-size: 1.8rem;
    padding: 0.5rem 0.5rem 0.2rem 0.5rem;
    border-radius: 3rem;

    transition: all ease 800ms;

    transform: scale(0);
    opacity: 0;
    display: none;

    color: var(--dt-color-2);

    cursor: pointer;
}
.ul_smallScreenShow{
    transform: scale(1) translate(1rem);
    opacity: 1;
}
@media screen and (max-width:1024px) and (min-width:768px){
    .Navbar__li{
        flex-direction: column; justify-content: center; align-items: center;
        padding: 0.2rem 1rem;
    }
}
@media screen and (max-width:768px) and (min-width:600px){

    .Navbar__ul{
        position: fixed;
        flex-direction: column;
        top: 7rem;
        bottom: 2rem;
        height: auto;
        right: -20rem;
        opacity: 0;
        transform: translate(0);
        border: 0.2rem solid var(--color-1);
        border-radius: 0.4rem;
        width: 15rem;
        overflow-y:scroll;
    }
    ul > li:last-child{
            justify-content: center;
    }
    .Navbar__li{
        padding:1.5rem 2rem;
        font-size: 1.6rem;
        justify-content: flex-start;
        position: relative;
    }
    .Navbar__ul > a{position: relative;}
    .Navbar__ul > a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        height: 2px ;
        width: 80%;
        background-color: var(--dynamic-color-5);
        border-radius: 100%;
    }
    .Navbar__options{
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    .ul_smallScreenShow{
        right: 2rem;
        opacity: 1;
    }
}
@media screen and (max-width:600px){

    .Navbar__ul{
        position: fixed;
        flex-direction: column;
        top: 7rem;
        bottom: 2rem;
        height: auto;
        right: -20rem;
        opacity: 0;
        transform: translate(0);
        border: 0.2rem solid var(--color-1);
        border-radius: 0.4rem;
        width: 15rem;
        overflow-y:scroll ;
    }
    ul > li:last-child{
        justify-content: center;
    }
    .Navbar__ul > a{position: relative;}
    .Navbar__ul > a::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 10%;
        height: 2px ;
        width: 80%;
        background-color: var(--dynamic-color-5);
        border-radius: 100%;
    }
    .Navbar__li{
        padding:1.5rem 2rem;
        font-size: 1.6rem;
        justify-content: flex-start;
        position: relative;
    }
    .Navbar__options{
        display: block;
        opacity: 1;
        transform: scale(1);
    }
    .ul_smallScreenShow{
        right: 2rem;
        opacity: 1;
    }
}