*{
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  /* border: 0.1rem solid green; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
html{
  width: 100vw;
  min-height: 100vh;
  font-size: 12px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
}


@-webkit-keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-o-keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-webkit-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@-moz-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@-o-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}

:root{
  
  --main-color: blue;
  --secondary-color: wheat;
  --third-color:black;
  --fourth-color:white;
  --fifth-color:#e1e3e0;
  --sixth-color:#c1c3c0;
  --grad-one:#ffffff;
  --grad-two:#e1e3e0;
  --grad-three:#97b4e9;
  --grad-four:#6069f1;
  --transparent:--transparent;
}
#root{
  min-height: 100vh;
}
.App{
  opacity: 1;
  min-height: 100vh;
  display: flex; flex-direction: column; justify-content: space-between;
  width: 100%; 
  padding: 1rem 8rem;
  transition: all ease 5000ms;
  gap: 1rem;

  background: linear-gradient(141deg, var(--grad-one), var(--grad-two), var(--grad-three), var(--grad-four),var(--grad-one));
  background-size: 1000% 1000%;

  -webkit-animation: gradientBackground 9s ease infinite;
  -moz-animation: gradientBackground 9s ease infinite;
  -o-animation: gradientBackground 9s ease infinite;
  animation: gradientBackground 9s ease infinite, showApp 5s linear forwards;

}
