
:root{
  
  --main-color: blue;
  --secondary-color: wheat;
  --third-color:black;
  --fourth-color:white;
  --fifth-color:#e1e3e0;
  --sixth-color:#c1c3c0;
  --grad-one:#ffffff;
  --grad-two:#e1e3e0;
  --grad-three:#97b4e9;
  --grad-four:#6069f1;
  --transparent:--transparent;

  --white:#ffffff;
  --black:#000000;
  --blue:#0000ff;
  --red:#ff0000;
  --green:#00ff00;

  --color-1:#3498DB;
  --color-2:#1ABC9C;
  --color-3:#9B59B6;
  --color-4:#E74C3C;
  --color-5:#95A5A6;

  --lt-color-1:#F0F2F5;
  --lt-color-2:#DCE1E3;
  --lt-color-3:#E0A800; /* button  */
  --lt-color-4:#FFA500; /* button hover */
  --lt-color-5:#A9A9A9; /* shadow */
  --lt-color-6:#2C3E50; /* h2 */
  --lt-color-7:#34495E; /* p */
  
  --dt-color-1:#2C3E50;
  --dt-color-2:#1C2833;
  --dt-color-3:#F39C12; /* button  */
  --dt-color-4:#E67E22; /* button hover */
  --dt-color-5:#707B7C; /* shadow */
  --dt-color-6:#ECF0F1; /* h2 */
  --dt-color-7:#020202; /* p */
  --dt-color-8:#3d4243;

  --lt-gradient-1:#fcfcfc;
  --lt-gradient-2:#efefef;
  --lt-gradient-3:#dfdfdf;
  --lt-gradient-4:#cfcfcf;
/*  --lt-gradient-5:#B7950B;
  --lt-gradient-6:#EB984E;*/
}


*{
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  /* border: 0.1rem solid green; */
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}
html{
  width: 100vw;
  min-height: 100vh;
  font-size: 12px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
}
#Link{
  text-decoration: none;
}
#root{
  min-height: 100vh;
}

.App{
  opacity: 1;
  min-height: 100vh;
  display: flex; flex-direction: column; justify-content: space-between;
  width: 100%; 
  padding: 1rem 8rem;
  transition: all ease 5000ms;
  gap: 1rem;

  background: linear-gradient(45deg, var(--lt-gradient-1), var(--lt-gradient-2), var(--lt-gradient-3), var(--lt-gradient-4));
  background-size: 400% 400%;
  
  /* -webkit-animation: gradientBackground 120s linear infinite, showApp 3s linear forwards;
  -moz-animation: gradientBackground 120s linear infinite, showApp 3s linear forwards;
  -o-animation: gradientBackground 120s linear infinite, showApp 3s linear forwards;
  animation: gradientBackground 120s linear infinite, showApp 3s linear forwards; */
  
}


@-webkit-keyframes gradientBackground {
  0%{background-position:0% 0%}
  12%{background-position:0% 100%}
  24%{background-position:0% 0%}
  36%{background-position:100% 0%}
  48%{background-position: 0% 0%;}
  60%{background-position:-150% -50%}
  72%{background-position: 0% 0%}
  84%{background-position: -50% -150%}
  100%{background-position: 0% 0%}
}
@-moz-keyframes gradientBackground {
  0%{background-position:0% 0%}
  12%{background-position:0% 100%}
  24%{background-position:0% 0%}
  36%{background-position:100% 0%}
  48%{background-position: 0% 0%;}
  60%{background-position:-150% -50%}
  72%{background-position: 0% 0%}
  84%{background-position: -50% -150%}
  100%{background-position: 0% 0%}
}
@-o-keyframes gradientBackground {
  0%{background-position:0% 0%}
  12%{background-position:0% 100%}
  24%{background-position:0% 0%}
  36%{background-position:100% 0%}
  48%{background-position: 0% 0%;}
  60%{background-position:-150% -50%}
  72%{background-position: 0% 0%}
  84%{background-position: -50% -150%}
  100%{background-position: 0% 0%}
}
@keyframes gradientBackground {
  0%{background-position:0% 0%}
  12%{background-position:0% 100%}
  24%{background-position:0% 0%}
  36%{background-position:100% 0%}
  48%{background-position: 0% 0%;}
  60%{background-position:-150% -50%}
  72%{background-position: 0% 0%}
  84%{background-position: -50% -150%}
  100%{background-position: 0% 0%}
}
@-webkit-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@-moz-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@-o-keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}
@keyframes showApp {
  0%{opacity:0; transform: scale(0);}
  50%{opacity:0.5; transform: scale(0.5);}
  100%{opacity: 1; transform: scale(1);}
}